h1{
    color: tomato;
    background-color: thistle;

}
p{
    color: slategray;
}
.wow{
    color: teal;
    background-color: thistle;
    font-size: 24px;
}
.grav{
    color: sienna;
    background-color: rosybrown;
    font-size: 25px;
}